**/__pycache__/**
**.pt
build/**
logs/**
data/**
downloads/**
evaluation/**
.venv/**

**.cache

.env

generated_examples_**

results/**
**.db

#tournament_example_extraction.py

**/jsonbin_cache/**

dpo_output/**

papers_cache.json
authors.csv
src/dpo_cluster/plot_gpu_usage.py

**test**