**/__pycache__/**
**.pt
build/**
logs/**
data/**
downloads/**
evaluation/**
prompts/**
.venv/**

**.cache

.env

generated_examples_**

results/**
**.db

**/jsonbin_cache/**

dpo_output/**

papers_cache.json
authors.csv

**test**